<div class="container">
  <h1>Agregar producto a venta</h1>
  <div class="row">
    <div class="col-md-6">
      <%= render 'form' %>

<%= link_to 'Regresar', info_sales_path, class: "btn btn-info"  %>
    </div>
  </div>

</div>