<div class="container">
  <h1>Agregar Pago</h1>
  <div class="row">
    <div class="col-md-6">
      <%= render 'form' %>
    </div>
  </div>
<%= link_to 'Back', venta_path, class: "btn btn-info" %>
</div>
