<div class="container">
<center><h1>Agregar Venta</h1></center>
<div class="row">
  <div class="col-md-6">
    <%= render 'form' %>
    <% if render 'form'%>
      <% #redirect_to info_sales_controller%>
    <% end%>
  </div>
</div>
</div>
